body {
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
    font-family: 'IBM Plex Mono', monospace;
}

header {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

div.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
}

div.options {
    margin-right: 40px;
    margin-top: 20px;
    padding: 30px;
    padding-bottom: 50px;
    background-color:gainsboro;
    border-radius: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 30px;
}

div.colors {
    display: flex;
    justify-content: space-between;
}

input.grid-size, 
input[type='radio'],
input[type='checkbox']
{
    accent-color: black;
}

input[type='color'] {
    width: 100px;

}

input:hover, label:hover {
    cursor: pointer;
}

div.grid-size {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label[for='grid-size'] {
    margin-right: 20px;
}



div.grid {
    width: 600px;
    height: 600px;
    background-color: black;
    display: flex;
    gap: 0px;
    flex-direction: column;
}
div.grid-container {
    border: 20px solid white;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    gap: inherit;
    flex: 1;
}
.column {
    background-color: white;
    flex: 1;
    transition: 0.2s;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.grid-off {
    border: 0px;
}

button {
    font-family: inherit;
}

footer {
    color: rgb(82, 82, 82);
    text-align: center;
    margin: 20px 0px;
    height: 25px;
}

footer #text, a, img {
    display: inline;
    margin: 0px;
}

img {
    height: 20px;
    vertical-align:bottom;
}

a {
    color: black;
}