body {
    margin: 0px;
    background-color: gray;
    font-family: 'IBM Plex Mono', monospace;
}

header {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

div.options {
    margin-right: 40px;
    width: 270px;
}

input.grid-size {
    accent-color: white;
}

div.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

div.grid {
    width: 650px;
    height: 650px;
    background-color: black;
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.row {
    display: flex;
    gap: inherit;
    flex: 1;
}
.column {
    background-color: white;
    flex: 1;
    transition: 0.2s;
}


